/* GENERAL */

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}

/* TOP NAV BAR */

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding-inline-start: 20px;
}

.nav-links:hover {
    text-decoration: underline;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.user {
    border-radius: 100%;
    width: 35px;
}

.apps {
    color:#5f6368;
}

/* MAIN COMPONENTS */


.main-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;

}

.logo {
    width: 275px;
    padding-bottom: 50px;
}

.input-icons img {
    position: absolute;
}

.input-icons {
    display: flex;
    margin: auto;
    width: 30%;
}

.input-overlay {
    border: 1px solid black;
    width: 6250px;
    margin: auto;
    border-radius: 24px;
    opacity: 0.2;
}

.spacer {
    padding-top: 25px;
}

.input-field {
    visibility: hidden;
    width: 100%;
    padding: 5px;
    padding-left: 45px;
    text-align: left;
    height: 25px;

}

.icon {
    opacity: 0.4;
    padding-top: 8px;
    padding-left: 15px;
}

.mic {
    width: 25px;
    align-self: center;
    padding-left: 27.5%;
}

button {
    padding: 10px;
    border: gray;

}

button a {
    color: black;
    text-decoration: none;
}

button:hover {
    border: 1px solid #c0c0c0;
}

.earth {
    text-decoration: none;
}

p {
    padding-top: 20px;
}


/* FOOTER */

.footer {
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-content: space-between;
    height: 40px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #ededed;
    color: #70757a;
}

.footer li {
    padding-inline-start: 15px;
}

.left-foot {
    padding-left: 25px;
}

.right-foot {
    padding-right: 75px;
    display: inline-block;

}

.mid-foot {
    padding-inline-end: 75px;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: #70757a;
    display: inline-block;
}

.green {
    width: 13px;
    padding-right: 5px;
}