/* GENERAL */

body {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #222;
}


/* MAIN COMPONENTS */


.main-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;

}

.logo {
    width: 275px;
    padding-bottom: 50px;
}

input {
    border-radius: 20px;
}

.input-icons img {
    position: absolute;
}

.input-icons {
    margin: auto;
    width: 30%;
    padding-bottom: 30px;
    padding-right: 35px;
}

.input-field {
    width: 100%;
    padding: 5px;
    padding-left: 45px;
    text-align: left;
    opacity: 0.5;
    height: 25px;
}

.icon {
    opacity: 0.5;
    padding-top: 8px;
    padding-left: 15px;
}

button {
    padding: 15px;
    border: gray;

}

button a {
    color: black;
    text-decoration: none;
}

.earth {
    text-decoration: none;
}

p {
    padding-top: 20px;
}

/* TOP NAV BAR */

.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    color: black;
    text-decoration: none;
}

/* FOOTER */

.footer {
    position: absolute;
    align-items: center;
    bottom: 0;
    justify-content: space-between;
    height: 40px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:#d6d6d4;
}

.left-foot {
    padding-left: 25px;
}

.right-foot {
    padding-right: 75px;

}

footer a {
    text-decoration: none;
    color: #70757a;
}

.green {
    width: 13px;
    padding-right: 5px;
}